.button {
    height: 30px;
    width: 100px;
    border-radius: 3px;
}

.disabled {

}

.secondary {
    background: #FFFFFF;
    color: #0066CC;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {

}
